.box {
    width: calc(100vw - 200px);
    background-color: rgb(206, 206, 206);
    margin: 0 auto;
    height: 50px;
    position: relative;
    box-sizing: border-box;
    line-height: 50px;
    border: 1px solid black;
    padding-left: 1em;
}
.box::before {
    content: "";
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    position: absolute;
    top: -1px;
    left: -25px;
    margin: 0 auto;
    width: calc(100vw - 150px);
    height: 48px;
}
.box::after{
    content: "";
    border-left: 1px solid black;
    border-right: 1px solid black;
    position: absolute;
    top: -25px;
    left: -1px;
    margin: 0 auto;
    width: calc(100vw - 202px);
    height: 98px;
}